@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh;   /* altura total do navegador */
    width: 100vw;    /* largura total do navegador */
    background-color: black;
}

body {
   
    background: url('imagens/fundo-madeira.jpg') no-repeat top center;  /* imagem de fundo */
    background-size: cover; 
    background-attachment: fixed;                      /* sem barra de rolagem */

    
}
main {
    height: 100vh;  
    position: relative;                                 /* posição relativa */
    

}
 section#telefone {
    position: absolute;           /* quando coloca em absoluto vc consegue posicionar */
  
   
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);  /* centraliza a imagem msm quando a tela esta pequena */
    height: 627px;
    width: 311px;
    background: url('../imagens/frame-iphone.png') no-repeat;
    
    
 }

 iframe#tela {
    position: relative;     /* posiciona a imagem onde quiser */
    top:81px; 
    left: 23px;
    height: 468px;
    width: 265px;
   
   
 }
 section#redes-sociais {
    text-align: left;
    padding-left: 30px;
 }
 section#redes-sociais  img {
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px black;
    box-sizing: border-box;            /* para os botoes nao afastarem quando passar o mouse em cima */
    

 }
 section#redes-sociais img:hover {
    border: 2px solid white;
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px black;
    transition: transform .3s;
 }